// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #257394;
$secondary: #f99e77;
$accent: #f78250;
$light: #9dd0e7;

$dark: #2c2626;

$positive: #21ba45;
$negative: #f78250;
$info: #9dd0e7;
$warning: #f2c037;
